# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
*.tsbuildinfo

# python
__pycache__/
*.py[cod]
.venv/
venv/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
debug.log
npm-debug.log*
pnpm-debug.log*

# vscode
.vscode/*
!.vscode/extensions.json